<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./styles/main.css">
    <title>GIFster</title>
</head>

<body>
    <div class="overlay" id="overlay"></div>

    <div class="spinner-container" id="loading-spinner">
        <div class="spinner">
            <span class="loading-message">Uploading your GIF...</span>
        </div>
    </div>
    <div class="logo">
        <img src="https://media.giphy.com/media/3xz2BDFvxop2BfAQoM/giphy.gif" id="logo" alt="Background GIF">
        <h1 class="logo-text">GIFster</h1>
    </div>


    <div class="search-container">
        <div class="search-wrapper">
            <input class="search-bar" id="search" type="text" placeholder="Search Gifs...">
            <i class="material-icons search-icon">search</i>
        </div>
    </div>
    <div class="navbar" id="app">
        <nav>
            <a href="#" class="nav-link" data-page="favorites">Favorite GIFs</a> |
            <a href="#" class="nav-link" data-page="upload">My uploaded GIFs</a> |
            <a href="#" class="nav-link" data-page="about">About</a>
        </nav>
        <div id="upload">
            <input type="file" id="upload-gif" accept="image/*" class="hidden-input">
            <button id="upload-button">Upload GIF</button>
        </div>
    </div>

    <div id="container">
        <!-- Trending GIFs will be inserted here -->
    </div>
    <hr>

    <footer>We have more GIFS</footer>
    <script src="src/index.js" type="module"></script>
</body>

</html>