<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/template/styles/main.css">
    <title>GIPHY</title>
</head>
<body>
    <header>
        <h1 class="main-id">GIPHY</h1>
    </header>
   
    <div class="navbar" id="app">
        <nav>
            <a href="#" class="nav-link" data-page="favorites">Favorite Gifs</a> 
            <input class="search-bar" id="search" type="text" placeholder="Search Gifs"> 
            <a href="#" class="nav-link" data-page="upload">Upload Gif</a> |
            <a href="#" class="nav-link" data-page="upload">Uploaded Gifs</a>
        </nav>
    </div>

    <div id="container">
        <a class="trending" data-page="trending">Trending GIFS</a>
        <hr>
        <section aria-live="polite">
            
        </section>
    </div>
    <footer>We have more GIFS</footer>
        
    <script src="src/index.js" type="module"></script>
</body>
</html>