/* body */

body {
  display: block;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-id-link {
  text-decoration: none;
}

.main-id {
  display: flex;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-wrapper {
  position: relative;
  width: 400px;
}

.search-bar {
  width: 350px;
  padding: 10px 10px 10px 40px;
  /* Adjust padding for the left space for icon */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #000;
}

/* CSS for styling the navbar links */
.navbar {
  text-align: center;
  justify-content: center;
  border-radius: 20px;
}

.navbar nav {
  display: inline-block;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 10px;
  font-size: 20px;
}

.nav-link:hover {
  color: #cfccac;
  transition: 0.1s ease-in-out;

}

.trending {
  justify-content: left;
  margin-left: 200px;
  font-size: larger;
  font-weight: bold;
}

div.gif-detailed-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

div.gif-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  border-right: none;
}

div.poster img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media (min-width: 600px) {
  div.gif-detailed-info {
    justify-content: center;
  }

  div.gif-info {
    align-items: flex-start;
    text-align: left;
    padding-left: 50px;
  }

  div.poster img {
    max-width: 500px;
    width: 500px;
  }
}

.hidden-input {
  display: none;
}

/* Style for the upload container */
#upload {
  text-align: center;
  margin: 20px;
}

/* Style for the upload button */
#upload-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 5px;
}

#upload-button:hover {
  transition: 0.2s ease-in-out;
  background-color: #cfccac;
}

/* Container for uploaded GIFs */
#uploaded {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Style for each grid item */
.grid-item {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.grid-item:hover {
  transform: scale(1.05);
}

/* Style for each GIF image */
.gif-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

/* Style for the "No uploaded gifs" message */
#uploaded p {
  font-size: 18px;
  color: #777;
  text-align: center;
}

.gif-simple {
  margin-bottom: 5px;


}

.gif-image-container img {
  transition: transform 0.3s ease;
}

.gif-image-container img:hover {
  transform: scale(1.1);
}


.trending-container {
  margin: 50px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  padding: 50px;
}

.content img {
  max-width: 200px;
  width: 100%;
  height: auto;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* footer */
footer {
  display: grid;
  justify-content: center;
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: grey;
  opacity: 0.5;
}

/* theme-button */
.theme-button {
  display: inline-block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f4efef;
  color: black;
  border: transparent;
  border-radius: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.theme-button:hover {
  background-color: #e1e1e1;
}

.theme-picker {
  display: none;
}

#about {
display: grid;
place-items: center;
}

.about-content {
padding: 20px;
border: 4px double #567df4;
border-radius: 20px;
background-color: #f0f0f0;
color: #333;
}

.about-image {
align-items: left;
max-width: 50vh;
border-radius: 100px;
}

.about-h1 {
font-family: Verdana, Geneva, Tahoma, sans-serif;
}