
/* body */

body {
    display: block;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-id-link {
    text-decoration: none;
}


.main-id {
    display: flex;
    justify-content: center;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.navbar {
    display: flex;
    justify-content: center;
    font-size: larger;
}

.nav-link {
    padding: 20px;
}

.search-bar {
    height: 25px;
    width: 350px;
    border-radius: 10px;
    border-width: 1px;
}

.trending {
    justify-content: left;
    margin-left: 100px;
}

/* Gif details styles */

div.gif-detailed-info {
    display: flex;
    flex-direction: row;
    padding: 30px;
    backdrop-filter: blur(2px);
}

div.gif-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    padding: 20px;
    margin: 10px;
    border-right: 1px solid rgb(112, 112, 112);
}

div.poster {
    width: 70%;  /* Increase width to give more space to the image */
    padding: 10px;
    margin: 10px;
    text-align: left; 
}

div.poster h1 {
    margin-top: 10px;
    font-size: 1em;
    margin-bottom: 40px; /* Space between title and image */
}

div.poster img {
    max-width: 90%;
    height: auto;
}

/* Upload Gif style */

#upload {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#upload h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

#container {
    margin: 20px 0;
}

#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gif-upload {
    margin-bottom: 10px;
}

#upload-form input[type="file"] {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 1em;
}

#upload-form button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#upload-form button:hover {
    background-color: #0056b3;
}

#upload-status {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}


/* footer */
footer {
    display: grid;
    justify-content: center;
    grid-area: footer;
    padding: 10px;
    text-align: center;
    color: grey;
    opacity: 0.5;
}

.gif-simple {
    margin-bottom: 20px;  
   border: 1px solid #ccc;
    padding: 10px;
  }
  
  .gif-image-container {
    position: relative;
    overflow: hidden;
    width: 50%; }
  
  .gif-image-container img {
    width: 50; 
    height: auto;
    transition: transform 0.3s ease; }
  
  .gif-image-container img:hover {
    transform: scale(1.2); 
  }

